<ion-view title="홈">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="true" overflow-scroll="true">
    <div blink></div>
    <div class="card">
      <div class="item item-text-wrap">
        2014년 고양시 토요 프로그램 데모 애플리케이션
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        애플리케이션에 대한 설명을 써 보세요!  
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        창의력을 발휘해 보세요!  
      </div>
    </div>
  </ion-content>
</ion-view>
